var namespace="AMAZON"

module.exports={
    "region":"us-east-1",
    "profile":"default",
    "templateBucket":"sagebuild",
    "templatePrefix":"artifacts/blog",
    "namespace":"test",
    "parameters":{
        ConfigFramework:"TENSORFLOW"
    }
}
